@use "../../../../styles/abstracts/" as *;
@use "../../../../styles/global/headlines";
@use "../../../../styles/global/paragraphs";

.hero-intro {
  position: relative;

  @media (min-width: 768px) {
    height: 100vh;
    min-height: 82.5rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 20rem;
    z-index: 100;

    @media (min-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 0rem;
    }

    &-wrap {
      position: relative;
      width: 100%;
      max-width: 85vw;
      margin-left: auto;
      margin-right: 4rem;
      margin-bottom: 4rem;
      z-index: 100;

      @media (min-width: 768px) {
        max-width: 110rem;
        margin: 0 auto 10rem;
      }
    }

    &-title {
      width: 100%;

      h2 {
        @extend .hl-one;
        font-weight: 600;
        color: $whiteColor;
      }
    }

    &-paragraph {
      width: 100%;

      p {
        @extend .p-two;
        color: $whiteColor;
      }
    }

    &-buttons {
      a:first-of-type {
        margin-bottom: 2.5rem;

        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }
    }
  }

  &-background {
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 1;
    }
  }

  &-overlay {
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #1d3a47;
    opacity: 0.75;
  }
}
