@use "../abstracts" as *;
@use "../utils";

.btn {
  @include utils.font-sizer(2, 2.2, 76.8, 150, 2);
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  transition: all 0.3s ease;
  border: 0.1rem solid $primaryColor;
  border-radius: 1.5rem;
  background-color: $primaryColor;
  color: $whiteColor;
  font-family: $primaryFont;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  outline: none;
  text-transform: uppercase;

  &:focus {
    transition: all 0.35s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    background-color: $accentColor;
    border-color: $accentColor;
    color: $whiteColor;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      color: $whiteColor;
      background-color: $primaryColor;
      cursor: not-allowed;
    }
  }
}

.btn-one {
  @extend .btn;
}

.btn-two {
  @extend .btn;
  background-color: $accentColor;
  border-color: $accentColor;
  color: $whiteColor;

  &:hover {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: $whiteColor;
  }
}
