@use "../../../../styles/abstracts/" as *;
@use "../../../../styles/global/headlines";

.image-gallery {
  &.image-gallery-floorplan {
    background-color: $secondaryColor;
  }

  &-title {
    width: 100%;
    text-align: center;

    h2 {
      @extend .hl-three;
    }
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  &-item {
    width: calc(100%);
    margin: 2.5rem auto;

    @media (min-width: 768px) {
      width: calc(50% - 1.5rem);
      margin: 0.75rem;
    }

    @media (min-width: 1025px) {
      width: calc(33.333333% - 1.5rem);
      margin: 0.75rem;
    }
  }

  &-links {
    width: calc(100%);
    margin: 5rem auto;
    text-align: center;

    a {
      margin-bottom: 2.5rem;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }
}
