---
// @ts-nocheck
import Wrapper from "../../shared/Wrapper.astro";
import "./keyFeatures.scss";

const { title, features } = Astro.props.data;
---

<div class="key-features">
  <Wrapper classes="key-features-wrapper">
    <div class="key-features-title">
      <h2>{title}</h2>
    </div>
    <div class="key-features-items">
      {
        features.map((feature) => {
          return (
            <div class="key-features-items-feature">
              <div set:html={feature.feature} />
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</div>
