---
// @ts-nocheck
import Wrapper from "../../shared/Wrapper.astro";
import "./keyFeatures.scss";

const { title, features } = Astro.props.data;
---

<div>
  <Wrapper>
    <div>
      <h2>{title}</h2>
    </div>
    <div>
      {
        features.map((feature) => {
          return (
            <div>
              <div set:html={feature.feature} />
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</div>
