@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.key-features {
  margin-top: 5rem;
  margin-bottom: 5rem;

  &-title {
    width: 100%;

    h2 {
      @extend .hl-two;
      color: $accentColor;
    }
  }

  &-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    &-feature {
      @media (min-width: 768px) {
        width: calc(33.33333333%);
        padding: 0 2.1rem;
        border-left: 0.3rem solid $primaryColor;
      }

      p {
        @extend .p-two;
      }

      p:last-of-type {
        margin: 0;
      }
    }
  }
}
