@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.content-logo {
  padding: 8.5rem 0;

  &-wrapper {
    max-width: 110rem !important;
  }

  &-image {
    width: calc(100%);
    margin-bottom: 2.5rem;

    @media (min-width: 768px) {
      width: calc(22.5% - 2.5rem);
      margin-bottom: 0;
      margin-right: 2.5rem;
    }

    img {
      max-width: 20rem;
      margin-left: 0;

      @media (min-width: 768px) {
        max-width: auto;
        margin-left: auto;
      }
    }
  }

  &-main {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(77.5% - 2.5rem);
      margin-left: 2.5rem;
    }

    h2 {
      @extend .hl-three;
      color: $accentColor;
      font-weight: 600;
    }

    &-section {
      width: 100%;

      h3 {
        @extend .p-two;
        margin: 0;
        font-weight: 600;
      }

      p {
        @extend .p-two;
      }
    }
  }
}
