@use "../../../../styles/abstracts/" as *;
@use "../../../../styles/global/headlines";
@use "../../../../styles/global/paragraphs";

.services-list {
  padding: 6rem 0;
  background-color: #efebe5;

  &-intro {
    width: calc(100%);

    h2 {
      @extend .p-one;
      margin: 0;
    }

    h3 {
      @extend .hl-one;
      margin: 1rem 0;
      font-weight: 600;
    }

    &.style-two {
      text-align: center;

      h2 {
        @extend .hl-one;
        margin: 0;
        font-weight: 600;
      }
    }
  }

  &-services {
    margin-top: 6rem;
  }

  &-service {
    position: relative;
    width: calc(100%);
    margin-bottom: 5.5rem;

    &-content {
      width: 100%;
      max-width: 60rem;
      padding: 2.5rem 3.5rem;
      background-color: $whiteColor;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
      z-index: 10;

      @media (min-width: 768px) {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
        width: 50%;
        margin-bottom: 0;
      }

      &-link {
        width: 100%;
        text-align: right;
      }

      h2 {
        @extend .hl-three;
        margin: 0;
        margin-bottom: 1.4rem;
      }

      p {
        @extend .p-two;
        margin: 0;
        margin-bottom: 2rem;
      }

      a {
        @extend .p-three;
        text-align: right;
      }
    }

    &-image {
      width: 100%;

      @media (min-width: 768px) {
        width: 60%;
        margin-right: 0rem;
        margin-left: auto;
      }
    }

    &.services-list-service-reverse {
      .services-list-service-content {
        right: 0;
        left: auto;
      }
      .services-list-service-image {
        margin-right: auto;
        margin-left: 0rem;
      }
    }
  }
}
