@use "../../../../../styles/abstracts/" as *;
@use "../../../../../styles/global/paragraphs.scss";

.main-form-textarea {
  width: calc(100%);
  margin-bottom: 3rem;

  @media (min-width: 768px) {
    width: calc(50% - 2rem);
    margin-right: 2rem;
  }

  &-full {
    @media (min-width: 768px) {
      width: calc(100% - 2rem);
      margin-right: 2rem;
    }
  }

  label {
    @extend .p-one;
    display: block;
    width: 100%;
    padding-left: 1.5rem;
    color: $blackColor;

    &:hover {
      cursor: initial;
    }

    &:hover {
      cursor: initial;
    }

    .error-message {
      display: none;
    }

    .error-active {
      @extend .p-two;
      display: inline-block;
      color: red;
      padding-left: 2rem;
    }
  }

  textarea {
    @extend .p-two;
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    border: 0.1rem solid transparent;
    border-radius: 0;
    background-color: rgba(181, 178, 169, 0.45);
    color: $blackColor;
  }

  textarea::placeholder {
    font-weight: bold;
    color: $whiteColor;
  }
}
