$primaryColor: #e8b75f;
$secondaryColor: #f7f0d9;
$tertiaryColor: #7f5f39;
$accentColor: #306a54;
$shadowColor: #efebe5;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #dbe0d6;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;
