$primaryColor: #a77c46;
$secondaryColor: #1d3a47;
$tertiaryColor: #d9ceb8;
$accentColor: #c77001;
$shadowColor: #efebe5;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #dbe0d6;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;
