@use "../../styles/abstracts/" as *;
@use "../../styles/global/buttons";
@use "../../styles/global/paragraphs";
@use "../../styles/global/headlines";

.not-found-main {
  background-color: $secondaryColor;

  &-title {
    width: 100%;
    text-align: center;
    padding-top: 40vh;

    h2 {
      @extend .hl-one;
      color: $whiteColor;
    }
  }

  &-content {
    width: 100%;
    text-align: center;
    padding-bottom: 25vh;

    p {
      @extend .p-one;
      color: $whiteColor;
    }

    a {
      @extend .btn-one;
    }
  }
}
