@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.faqs-section {
  padding: 5rem 0;
  &-item {
    width: 100%;
    margin-bottom: 2rem;

    &-title {
      width: 100%;
      padding: 2rem;
      background-color: $accentColor;
      cursor: pointer;

      p {
        @extend .p-one;
        display: flex;
        justify-content: space-between;
        margin: 0;
        color: $whiteColor;
      }
    }

    &-content {
      width: 100%;
      background-color: $secondaryColor;

      &-inner {
        padding: 3.6rem;

        p,
        a,
        li {
          @extend .p-three;
        }

        a {
          &:hover {
            color: $accentColor;
          }
        }
      }
    }
  }
}
