@use "../../../../styles/abstracts/" as *;

.hero-small {
  &-wrapper {
    position: relative;
    width: 100%;
    height: 35rem;
  }

  &-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $secondaryColor;
    opacity: 0.75;
    z-index: 100;
  }
}
