@use "../../../styles/global/buttons.scss";

.contact-form {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;

  &-fields {
    width: 100%;

    fieldset {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      padding: 0;
      margin: 0;
      border: none;
    }

    .captcha-container {
      margin-bottom: 2.5rem;
    }

    &-button {
      width: 100%;

      button {
        @extend .btn-one;
      }
    }
  }
}
