---
import Wrapper from "../components/shared/Wrapper.astro";
import Headline from "../components/shared/Headline.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/shared/Button.astro";
---

<Layout>
  <Wrapper>
    <div>
      <Headline hlstyle="one"
        >H3 Roboto Slab Aliquam tincidunt mauris eu risus ..</Headline
      >
      <Headline hlstyle="two">Aliquam tincidunt mauris eu risus.</Headline>
      <Headline hlstyle="three">Aliquam tincidunt mauris eu risus.</Headline>
    </div>
    <div>
      <Paragraph pstyle="one"
        >Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae
        luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing,
        commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit
        tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices
        sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.
        Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</Paragraph
      >
      <Paragraph pstyle="two"
        >Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae
        luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing,
        commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit
        tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices
        sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.
        Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</Paragraph
      >
      <Paragraph pstyle="three"
        >Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae
        luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing,
        commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit
        tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices
        sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.
        Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</Paragraph
      >
    </div>
    <div>
      <Button btnstyle="one">View Haven Homes</Button>
      <Button btnstyle="two">View Haven Homes</Button>
    </div>
  </Wrapper>
</Layout>
