@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.hero-intro {
  position: relative;
  min-height: 45rem;
  margin-bottom: 5rem;

  @media (min-width: 768px) {
    height: 100vh;
    min-height: 82.5rem;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    &-wrap {
      position: relative;
      width: 100%;
      margin: 0 auto;
      max-width: 85vw;
      z-index: 100;

      @media (min-width: 768px) {
        max-width: 110rem;
      }
    }

    &-title {
      width: 100%;
      text-align: center;

      h2 {
        @extend .hl-one;
        font-weight: 600;
        color: $whiteColor;
      }
    }
  }

  &-background {
    position: absolute;
    top: -5rem;
    bottom: 0;
    left: -5rem;
    right: -5rem;
    transform: rotate(-2deg);
    z-index: 1;
    overflow: hidden;

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 1;
    }
  }

  &-overlay {
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    opacity: 0.75;
  }
}
