@use "../../../styles/global/paragraphs";
@use "../../../styles/global/buttons";
@use "../../../styles/abstracts/" as *;

.main-nav {
  width: 100%;

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .main-nav-top-list {
      width: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;

      @media (min-width: 768px) {
        padding-left: 0rem;
      }

      @media (min-width: 1025px) {
        padding-left: 0;
      }

      li {
        margin: 0 1rem;

        @media (min-width: 1150px) {
          margin: 0 1rem;
        }

        a {
          @extend .p-three;
          display: inline-block;
          padding: 1.5rem 0.5rem;
          border-top: 0.2rem solid transparent;
          border-bottom: 0.2rem solid transparent;
          color: $tertiaryColor;
          text-transform: uppercase;

          @media (min-width: 1150px) {
            padding: 0.5rem 1.5rem 0.5rem;
          }

          &:hover {
            color: $accentColor;
            border-top-color: $accentColor;
            border-bottom-color: $accentColor;
          }
        }

        a.main-nav-current {
          font-weight: bold;
          color: $accentColor;
          border-top-color: $accentColor;
          border-bottom-color: $accentColor;

          &:hover {
            cursor: default;
          }
        }

        .main-nav-sub-menu {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          position: absolute;
          top: calc(100% + 0.1rem);
          left: 0;
          width: 100%;
          padding: 1rem;
          background-color: rgba($whiteColor, 0.2);
          transition: all 0.3s ease-in-out;
          opacity: 0;
          visibility: hidden;
          z-index: 100;

          &.main-nav-sub-menu-active {
            opacity: 1;
            visibility: visible;
          }

          li {
            margin: 0;
            text-align: center;

            a {
              @extend .p-two;
              padding: 0.5rem 0;
              border-top: 0.2rem solid transparent;
              border-bottom: 0.2rem solid transparent;
              font-weight: 500;
              color: $whiteColor;

              &:hover {
                color: $whiteColor;
                border-top-color: $accentColor;
                border-bottom-color: $accentColor;
              }
            }

            a.main-nav-sub-current {
              color: $whiteColor;
              border-top-color: $accentColor;
              border-bottom-color: $accentColor;

              &:hover {
                cursor: default;
              }
            }
          }
        }
      }

      li.call-to-action {
        margin-right: 0;
        a {
          @extend .btn-two;
          min-width: 20rem;
          padding-top: 1.55rem;
          padding-bottom: 1.55rem;
          border-radius: 0;

          &.main-nav-current {
            color: $whiteColor;
            background-color: $secondaryColor;
            border-bottom-color: transparent;
          }
        }
      }

      li.call-to-action-two {
        margin-right: 0;

        a {
          @extend .btn-one;
          color: $whiteColor;
        }
      }
    }
  }
}
