@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.values {
  padding: 6rem 0;
  background-color: $secondaryColor;

  &-title {
    width: 100%;

    h2 {
      @extend .hl-three;
      color: $accentColor;
    }
  }

  &-content {
    width: 100%;

    @media (min-width: 768px) {
      columns: 2;
      column-gap: 5rem;
    }

    p {
      @extend .p-two;

      @media (min-width: 768px) {
        break-inside: avoid;
      }
    }
  }
}
