@use "../styles/abstracts/" as *;
@use "../styles/global/paragraphs";

.footer {
  position: relative;
  padding-top: 1.5rem;
  background-color: $accentColor;

  &-wrapper {
    align-items: center;
  }

  &-logo {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(20%);
      padding: 0;
    }

    h2 {
      @extend .p-three;
      margin: 0;
    }
  }

  &-social {
    width: calc(100%);
    margin-bottom: 2.5rem;

    @media (min-width: 768px) {
      width: calc(12%);
      margin-bottom: 0;
    }
  }

  &-nav {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(68%);
    }
  }

  &-policy {
    width: calc(100%);
    margin-top: 2.5rem;
    text-align: center;

    a {
      @extend .p-three;
      color: $whiteColor;

      &:hover {
        color: $primaryColor;
      }
    }
  }
}
