@use "../styles/abstracts/" as *;
@use "../styles/global/paragraphs";

.main-header {
  &-wrapper {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  &-logo {
    position: relative;
    width: 18rem;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    overflow: hidden;
    z-index: 101;

    @media (min-width: 1025px) {
      width: 18rem;
    }

    @media (min-width: 1150px) {
    }

    @media (min-width: 1250px) {
      width: 18rem;
    }

    a {
      display: block;
      margin: auto;
    }

    h1 {
      margin: 0;

      span {
        position: absolute;
        left: -999%;
      }
    }
  }

  &-navigation {
    position: relative;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 102;

    @media (min-width: 768px) {
      display: flex;
      width: calc(100%);
    }
  }

  &-mobile {
    display: block;

    @media (min-width: 769px) {
      display: none;
    }
  }
}
