@use "../styles/abstracts/" as *;
@use "../styles/global/paragraphs";

.main-header {
  position: relative;
  padding-bottom: 5rem;
  background-color: transparent;

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      178deg,
      #f7f0d9 0%,
      #f7f0d9 70%,
      transparent 70%,
      transparent 100%
    );
  }

  &-wrapper {
    position: relative;
    margin-top: 0 !important;
    padding-top: 0 !important;
    z-index: 100;
  }

  &-logo {
    position: relative;
    width: 15rem;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    overflow: hidden;
    z-index: 101;

    @media (min-width: 1025px) {
      width: 15rem;
    }

    a {
      display: block;
      margin: auto;
    }

    h1 {
      margin: 0;

      span {
        position: absolute;
        left: -999%;
      }
    }
  }

  &-navigation {
    position: relative;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 102;

    @media (min-width: 768px) {
      display: flex;
      width: calc(100% - 15rem);
    }
  }

  &-mobile {
    display: block;

    @media (min-width: 769px) {
      display: none;
    }
  }
}
